<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="mef.configuration"
      type="MefContrib.Hosting.Conventions.Configuration.Section.ConventionConfigurationSection, MefContrib" />
  </configSections>

  <mef.configuration>
    <parts>
      
      <part type="MefContrib.Samples.ExtensibleDashboard.Startup.Bootstrapper, MefContrib.Samples.ExtensibleDashboard" creationPolicy="Shared">
        <exports>
          
          <!-- Member not specified -> use the part -->
          <!-- Contract not specified -> use part's type -->
          <export />
        </exports>
        
        <imports>
          <import member="Main" />
        </imports>
      </part>

    </parts>
  </mef.configuration>

</configuration>